<div class="container">
  <h1>Add a Film to Your <%= @list.name %> List</h1>
  <%= simple_form_for([@list, @bookmark]) do |f| %>
    <%= f.input :movie, collection: @movies %>
    <%= f.input :comment %>
    <%= f.submit %>
  <% end %>
</div>
